<form action="/crates/serendia" method="POST">

    <label>Craft Count </label><input type="number" name="crafts" value="1" min="1"><br>
    <label>Processing Average </label><input type="number" name="processingAvg" value="2.5" max="3" min="0.01" step="0.01"><br>
    <label>Processing Proc Average</label><input type="number" name="processingProcAvg" value="0.05" max="1.5" min="0.01" step="0.01"><br>
    <button type="submit">Calculate</button>


    <div class="container">
        <div class="row">

            <!-- Begin left table -->

            <div class="col-sm">
                <table class="table">
                    <thead>
                        <tr class="d-flex">
                            <th scope="col" class="col-2">Count</th>
                            <th scope="col" class="col-5">Ingredient</th>
                            <th scope="col" class="col-2">Cost</th>
                            <th scope="col" class="col-3">Total Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="d-flex">
                            <th scope="row" class="col-2">
                                <input id="bspCount" type="number" class="col-12" value="1" disabled>
                            </th>
                            <td class="col-5">Black Stone Powder</td>
                            <td scope="row" class="col-2">
                                <input name="bspCost" type="number" class="col-12" value="<%= data.materials.bspCost %>">
                            </td>
                            <td scope="row" class="col-3">
                                <span id="bspBatch">111111111</span>
                            </td>
                        </tr>
                        <tr class="d-flex">
                            <th scope="row" class="col-2">
                                <input id="timberCount1" type="number" class="col-12" value="40" disabled>
                            </th>
                            <td class="col-5">Maple Timber</td>
                            <td class="col-2">
                                <input name="timberCost1" type="number" class="col-12" value="<%= data.materials.timber1Cost %>">
                            </td>
                            <td class="col-3">
                                <span id="timberBatch1"></span>
                            </td>
                        </tr>
                        <tr class="d-flex">
                            <th scope="row" class="col-2">
                                <input id="timberCount2" type="number" class="col-12" value="40" disabled>
                            </th>
                            <td class="col-5">Pine Timber</td>
                            <td class="col-2">
                                <input name="timberCost2" type="number" class="col-12" value="<%= data.materials.timber1Cost %>">
                            </td>
                            <td class="col-3">
                                <span id="timberBatch2">111111111</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Begin right table -->

            <div class="col-sm">
                <table class="table">
                    <thead>
                        <tr class="d-flex">
                            <th scope="col" class="col-2">Count</th>
                            <th scope="col" class="col-5">Ingredient</th>
                            <th scope="col" class="col-2">Value</th>
                            <th scope="col" class="col-3">Batch Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="d-flex">
                            <th scope="row" class="col-2">
                                <input id="crateCount" type="number" class="col-12" value="1" disabled>
                            </th>
                            <td class="col-5">Serendia Timber Crate</td>
                            <td class="col-2"><input id="crateValue" type="number" class="col-12" value="<%= data.crate.value %>" disabled>
                            <td>
                            <td id="crateBatch" class="col-3">32,550</td>
                        </tr>

                        <!-- 
    
    
                            TODO PLYWOOD
    
    
                        -->

                        <%- include("_form_crate_right") %>


                        <tr class="d-flex">
                            <th scope="row" class="col-2"></th>
                            <td class="col-5">Ingredients Cost</td>
                            <td id="ingredientsCost" class="col-2">0</td>
                            <td id="ingredientsBatch" class="col-3">0</td>
                        </tr>
                        <tr class="d-flex">
                            <th scope="row" class="col-2"></th>
                            <td class="col-5">Total Profit</td>
                            <td id="profit" class="col-2">0</td>
                            <td id="batchProfit" class="col-3">0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>

<!-- Begin Material List -->
<!-- end of document -->


<p><%= data.userData.crafts %></p>