<%- include('../partials/meta-sub-page.ejs') %>
    <title><%= data.userInput.item %> - Lamar's Crafting Site</title>
</head>

<body>

<%- include('../partials/header.ejs') %>

<div class="container">
    <form action="/<%= type %>/calc?item=<%= data.userInput.itemDirty %>" method="POST">
        <div class="production-calc">
    
        <!-- User Inputs  -->
        <div class="surface" id="user-inputs">
            <h2>User Inputs</h2>
            <ul>
                <li>Craft Count: <input class="count-cost" type="number" name="crafts" value="<%= data.userInput.crafts %>" min="1"></li>
                <% if (type === 'cooking') { %>
                    <li>Cooking Mastery:
                        <select class="mastery" name="cookingMastery">
                            <% for ( i = 0; i < 41 ; i++) { %>
                                <option <% if (data.userInput.masteryVal == i * 50) { %> selected <% } %> value="<%= i * 50 %>"><%= i * 50 %></option>
                            <% } %>
                        </select>
                    </li>
                    <li> Cooking Average: </span><input class="count-cost" type="number" value="<%= data.userInput.masteryCook %>" max="3" min="0.01" step="0.01" disabled></li>
                    <li>Cooking Proc Average: </span><input class="count-cost" type="number" value="<%= data.userInput.masteryProc %>" max="3" min="0.01" step="0.01" disabled></li>
                <% } %>
                <li>Processing Average: </span><input class="count-cost" type="number" name="processingAvg" value="<%= data.userInput.processingAvg %>" max="3" min="0.01" step="0.01" disabled></li>
                <% if (type === 'prodroduction') { %>
                <li>Processing Proc Average: </span><input class="count-cost" type="number" name="processingProcAvg" value="<%= data.userInput.processingProcAvg %>" max="1.5" min="0.01" step="0.01" disabled></li>
                <% } %>
                <li>Tax Rate: </span><input class="count-cost" type="number" name="tax" value="<%= data.userInput.tax %>" max="1" min="0.5" step="0.001"></li>
            </ul>
            <button class="btn" type="submit">Calculate</button>
        </div>

        <!-- Material List  -->

        <div class="surface" id="material-tree">
            <h2><%= data.userInput.item %> - Material Tree</h2>
            <ul>
            <% for (var i = 0; i < Object.keys(data.materialTree).length; i++ ) { %>
                <li class="material-tree-col<%= data.materialTree[i].column %>">
                    <span class="material-tree-count"><%= data.materialTree[i].count %></span>
                    <img src="https://cdn.aylamar.com/assets/img/<%= data.materialTree[i].imageName %>.png">
                    <span class="material-tree-name"><%= data.materialTree[i].name %></span>
                    <span class="material-tree-total-count">(<%= data.materialTree[i].totalCount %>)</span>
                </li>
            <% } %>
            </ul>
        </div>

        <!-- Left Table -->

        <div class="surface" id="table-left"> 
            <table>
                <thead>
                    <tr>
                        <th class="align-right">Count</th>
                        <th class="align-left">Ingredient</th>
                        <th>Cost</th>
                        <th>Total Cost</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i = 0; i < Object.keys(data.materialList).length; i++ ) { %>
                    <tr>
                        <td class="align-right"><%= data.materialList[i].count %></td>
                        <td><%= data.materialList[i].name %></td>
                        <td>
                            <input name="material-cost<%= i %>" type="number" class="count-cost" value="<%= data.materialList[i].cost %>">
                        </td>
                        <td class="count-cost align-right">
                            <%=  data.materialList[i].batchCost %>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>

        <!-- Right Table -->
        
        <div class="surface" id="table-right">
            <table>
                <thead>
                    <tr>
                        <th class="align-right">Count</th>
                        <th class="align-left">Ingredient</th>
                        <th class="align-right">Value</th>
                        <th class="align-right" id="batch">Batch Value</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td scope="row" class="align-right"><%= data.userInput.craftsMastery %></td>
                        <td><%= data.userInput.item %></td>
                        <td class="align-right"><input type="number" class="count-cost" name="itemValue" value="<%= data.profit.itemValue %>" <% if (data.userInput.item.includes('Crate')) { %> disabled> <% } %></td>
                        <td class="align-right"><%= data.profit.itemBatch %></td>
                    </tr>

                    <% if (data.userInput.item.includes('Crate')) { %>

                    <tr>
                        <td scope="row" class="align-right"><%= data.userInput.distance %>%</td>
                        <td>

                            <select name="distance">
                                <option value="113.85" <% if ( data.userInput.distance == 113.85 || data.userInput.distance === null ) { %> selected <%} %>>Grana -> Valencia</option>
                                <option value="128.6" <% if ( data.userInput.distance == 128.6 ) { %> selected <%} %>>Grana -> Arehaza</option>
                            </select>

                        </td>
                        <td class="align-right"><%= data.profit.distanceValue %></td>
                        <td class="align-right"><%= data.profit.distanceBatch %></td>
                    </tr>

                    <%- include("_form_bargain") %>
                    <tr>
                        <th scope="row" class="align-right"><%= data.userInput.desert %></th>
                        <td>

                            <label for="desertBonus">
                                Desert Bonus:
                            </label>
                            <input name="desertStatus" class="form-check-input" type="checkbox" <% if ( data.userInput.desert === 0.5 || data.userInput.desert === null) { %> checked <%} %>>

                        </td>
                        <td class="align-right"><%= data.profit.desertValue %></td>
                        <td class="align-right"><%= data.profit.desertBatch %></td>
                    </tr>

                    <tr>
                        <th scope="row" class="align-right"></th>
                        <td>Trade Value</td>
                        <td class="align-right"><%= data.profit.totalValue %></td>
                        <td class="align-right"><%= data.profit.totalBatch %></td>
                    </tr>
                    <% } %>

                    <% for (var i = 0; i < Object.keys(data.procList).length; i++ ) { %>
                    <tr>
                        <td class="align-right">
                            <%= data.procList[i].count %>
                        </td>
                        <td><%= data.procList[i].name %></td>
                        <td class="align-right">
                            <input class="count-cost" name="proc-cost<%= i %>" type="number" class="count-cost" value="<%= data.procList[i].cost %>">
                        </td>
                        <td class="count-cost align-right">
                            <%=  data.procList[i].batchCost %>
                        </td>
                    </tr>
                    <% } %>

                    <% if (!data.userInput.item.includes('Crate')) { %>

                    <tr>
                        <td scope="row" class="align-right"></td>
                        <td>Total Value</td>
                        <td class="align-right"><%= data.profit.totalValue %></td>
                        <td class="align-right"><%= data.profit.totalBatch %></td>
                    </tr>

                    <% } %>

                    <tr>
                        <td scope="row"></td>
                        <td>Tax</td>
                        <td class="align-right"><%= data.profit.taxValue %></td>
                        <td class="align-right"><%= data.profit.taxBatch %></td>
                    </tr>
                    <tr>
                        <td scope="row"></td>
                        <td>Ingredients Cost</td>
                        <td class="align-right"><%= data.profit.singlePrice %></td>
                        <td class="align-right"><%= data.profit.batchPrice %></td>
                    </tr>
                    <tr>
                        <td scope="row"></td>
                        <td>Total Profit</td>
                        <td class="align-right"><%= data.profit.profit %></td>
                        <td class="align-right"><%= data.profit.profitBatch %></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <input hidden name="itemName" value="<%= data.userInput.itemDirty %>">
    </div>
</form>
</div>


</body>

</html>