<%- include('../partials/meta-sub-page.ejs') %>
    <title><%= data.userInput.item %> - Lamar's BDO Crafting Site</title>
</head>

<body>

<%- include('../partials/header.ejs') %>

<div class="container">
    <form action="/<%= type %>/calc?item=<%= data.userInput.itemDirty %>" method="POST">
        <div class="production-calc">
    
        <!-- User Inputs  -->
        <div class="surface" id="user-inputs">
            <h2>User Inputs</h2>
            <ul>
                <!-- General -->
                <li>Craft Count: <input class="count-cost" type="number" name="crafts" value="<%= data.userInput.crafts %>" min="1"></li>

                <!-- Region Select -->
                <li>
                    Region:
                    <select class="mastery" name="region">
                        <option value="eu" <% if (data.userInput.region === 'eu') { %> selected <% } %>>EU</option>
                        <option value="mena" <% if (data.userInput.region === 'mena') { %> selected <% } %>>MENA</option>
                        <option value="na" <% if (data.userInput.region === 'na') { %> selected <% } %>>NA</option>
                        <option value="sa" <% if (data.userInput.region === 'sa') { %> selected <% } %>>SA</option>
                        <option value="sea" <% if (data.userInput.region === 'sea') { %> selected <% } %>>SEA</option>
                    </select>    
                </li>
                <li>
                    Load Region Prices:
                    <input name="loadPrices" type="checkbox">
                </li>

                <!-- Cooking -->
                <% if (type === 'cooking') { %>
                    <li>Cooking Mastery:
                        <select class="mastery" name="cookingMastery">
                            <% for ( i = 0; i < 41 ; i++) { %>
                                <option <% if (data.userInput.masteryVal == i * 50) { %> selected <% } %> value="<%= i * 50 %>"><%= i * 50 %></option>
                            <% } %>
                        </select>
                    </li>
                    <li>Cooking Average: </span><input class="count-cost" type="number" value="<%= data.userInput.masteryCook %>" max="3" min="0.01" step="0.01" disabled></li>
                    <li>Cooking Proc Average: </span><input class="count-cost" type="number" value="<%= data.userInput.masteryProc %>" max="3" min="0.01" step="0.01" disabled></li>

                    <!-- Cooking Box -->
                    <li> Manos Mastery:
                        <select class="mastery" name="turnInMastery">
                            <% for ( i = 0; i < 41 ; i++) { %>
                                <option <% if (data.userInput.turnInMasteryVal == i * 50) { %> selected <% } %> value="<%= i * 50 %>"><%= i * 50 %></option>
                            <% } %>    
                        </select>
                    </li>
                <% } %>

                <!-- Processing -->
                <li>Processing Average: </span><input class="count-cost" type="number" name="processingAvg" value="<%= data.userInput.processingAvg %>" max="3" min="0.01" step="0.01" disabled></li>
                <% if (type === 'production' || type === 'processing') { %>
                <li>Processing Proc Average: </span><input class="count-cost" type="number" name="processingProcAvg" value="<%= data.userInput.processingProcAvg %>" max="1.5" min="0.01" step="0.01" disabled></li>
                <% } %>
                <li>Tax Rate: </span><input class="count-cost" type="number" name="tax" value="<%= data.userInput.tax %>" max="1" min="0.5" step="0.001"></li>
            </ul>
            <button class="btn" type="submit">Calculate</button>
        </div>

        <!-- Material List  -->

        <div class="surface" id="material-tree">
            <h2><%= data.userInput.item %> - Material Tree</h2>
            <ul>
            <% for (var i = 0; i < Object.keys(data.materialTree).length; i++ ) { %>
                    <% if ( (i < Object.keys(data.materialTree).length-1 && data.materialTree[i+1].column > data.materialTree[i].column) || data.userInput.buy.includes(data.materialTree[i].name) ) {%>

                        <li class="material-tree-check-col<%= data.materialTree[i].column %>">

                        <input type="checkbox" name="buy" value="<%= data.materialTree[i].name %>" <% if ( data.userInput.buy.includes(data.materialTree[i].name) ) { %> checked <% } %>>
                    <%} else { %>
                        <li class="material-tree-col<%= data.materialTree[i].column %>">
                    <% } %>
                    <span class="material-tree-count"><%= data.materialTree[i].count %></span>
                    <img src="/assets/icon/<%= data.materialTree[i].imageName %>.png">
                    <span class="material-tree-name"><%= data.materialTree[i].name %></span>
                    <span class="material-tree-total-count">(<%= data.materialTree[i].totalCount %>)</span>
                    <!-- Mastery Checkbox -->
                    <% if (type === 'cooking' && data.materialTree[i].cook === true) { %>
                        <span class="useManos">
                            Use Manos? <input name="<%= data.materialTree[i].name %>-mastery" type="checkbox">
                        <!--
                            <select name="<%= data.materialTree[i].name %>-mastery">
                                <% for ( j = 0; j < 41 ; j++) { %>
                                    <option <% if (data.materialTree[i].mastery == j * 50) { %> selected <% } %> value="<%= j * 50 %>"><%= j * 50 %></option>
                                <% } %>
                            </select>
                        -->
                        </span>
                    <% } %>
                </li>
            <% } %>
            </ul>
        </div>

        <!-- Left Table -->

        <div class="surface" id="table-left"> 
            <table>
                <thead>
                    <tr>
                        <th class="align-right">Count</th>
                        <th class="align-left">Ingredient</th>
                        <th class="align-right">Cost</th>
                        <th class="align-right">Total Cost</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i = 0; i < Object.keys(data.materialList).length; i++ ) { %>
                    <tr>
                        <td class="align-right"><%= data.materialList[i].count %></td>
                        <td><%= data.materialList[i].name %></td>
                        <td class="align-right">
                            <input name="<%= data.materialList[i].name %>" type="number" class="count-cost" value="<%= data.materialList[i].cost %>">
                        </td>
                        <td class="count-cost align-right">
                            <%=  data.materialList[i].batchCost %>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>

        <!-- Right Table -->
        
        <div class="surface" id="table-right">
            <table>
                <thead>
                    <tr>
                        <th class="align-right">Count</th>
                        <th class="align-left">Ingredient</th>
                        <th class="align-right">Value</th>
                        <th class="align-right" id="batch">Batch Value</th>
                    </tr>
                </thead>
                <tbody>

                    <!-- Item to craft -->
                    <tr>
                        <td scope="row" class="align-right"><%= data.userInput.craftsMastery %></td>
                        <td><%= data.userInput.item %></td>
                        <td class="align-right">
                            <input type="number" class="count-cost" name="itemValue" value="<%= data.profit.itemValue %>" <% if (data.userInput.item.includes('Crate')) { %> disabled> <% } %>
                        </td>
                        <td class="align-right"><%= data.profit.itemBatch %></td>
                    </tr>

                    <!-- Production crate stuff -->
                    <% if (data.userInput.item.includes('Crate')) { %>
                    <tr>
                        <td scope="row" class="align-right"><%= data.userInput.distance %>%</td>
                        <td>

                            <select name="distance">
                                <option value="113.85" <% if ( data.userInput.distance == 113.85 || data.userInput.distance === null ) { %> selected <%} %>>Grana -> Valencia</option>
                                <option value="128.6" <% if ( data.userInput.distance == 128.6 ) { %> selected <%} %>>Grana -> Arehaza</option>
                            </select>

                        </td>
                        <td class="align-right"><%= data.profit.distanceValue %></td>
                        <td class="align-right"><%= data.profit.distanceBatch %></td>
                    </tr>
                    <%- include("_form_bargain") %>
                    <tr>
                        <th scope="row" class="align-right"><%= data.userInput.desert %></th>
                        <td>

                            <label for="desertBonus">
                                Desert Bonus:
                            </label>
                            <input name="desertStatus" class="form-check-input" type="checkbox" <% if ( data.userInput.desert === 0.5 || data.userInput.desert === null) { %> checked <%} %>>

                        </td>
                        <td class="align-right"><%= data.profit.desertValue %></td>
                        <td class="align-right"><%= data.profit.desertBatch %></td>
                    </tr>

                    <tr>
                        <th scope="row" class="align-right"></th>
                        <td>Trade Value</td>
                        <td class="align-right"><%= data.profit.totalValue %></td>
                        <td class="align-right"><%= data.profit.totalBatch %></td>
                    </tr>
                    <% } %>

                    <!-- Begin proc list -->
                    <% for (var i = 0; i < Object.keys(data.procList).length; i++ ) { %>
                    <tr>
                        <td class="align-right">
                            <%= data.procList[i].count %>
                        </td>
                        <td><%= data.procList[i].name %></td>
                        <td class="align-right">
                            <input class="count-cost" name="<%= data.procList[i].name %>" type="number" class="count-cost" value="<%= data.procList[i].cost %>">
                        </td>
                        <td class="count-cost align-right">
                            <%=  data.procList[i].batchCost %>
                        </td>
                    </tr>
                    <% } %>

                    <!-- If crate -->
                    <% if (!data.userInput.item.includes('Crate')) { %>
                    <tr>
                        <td scope="row" class="align-right"></td>
                        <td>Total Value</td>
                        <td class="align-right"><%= data.profit.totalValue %></td>
                        <td class="align-right"><%= data.profit.totalBatch %></td>
                    </tr>
                    <% } %>

                    <!-- Taxes & ingredients cost -->
                    <tr>
                        <td scope="row"></td>
                        <td>Tax</td>
                        <td class="align-right"><%= data.profit.taxValue %></td>
                        <td class="align-right"><%= data.profit.taxBatch %></td>
                    </tr>
                    <tr>
                        <td scope="row"></td>
                        <td>Ingredients Cost</td>
                        <td class="align-right"><%= data.profit.singlePrice %></td>
                        <td class="align-right"><%= data.profit.batchPrice %></td>
                    </tr>
                    <% if (type === 'cooking') { %>

                    <!-- Byproduct -->
                    <tr>
                        <td class="align-right" scope="row"><%= data.profit.bypCount %></td>
                        <td>
                            <select name="bypChoice">
                                <option value="Cont" <% if (data.userInput.bypChoice === 'Cont') { %>selected<% } %>>Byproduct ➝ Contribution</option>
                                <option value="Milk" <% if (data.userInput.bypChoice === 'Milk') { %>selected<% } %>>Byproduct ➝ Milk</option>
                                <option value="Cream" <% if (data.userInput.bypChoice === 'Cream') { %>selected<% } %>>Byproduct ➝ Cream</option>
                                <option value="Butter" <% if (data.userInput.bypChoice === 'Butter') { %>selected<% } %>>Byproduct ➝ Butter</option>
                            </select>
                        </td>
                        <td class="align-right">
                            <input type="number" class="count-cost" name="bypValue" value="<%= data.userInput.bypValue %>">
                        </td>
                        <td class="align-right"><%= data.profit.bypBatch %></td>
                    </tr>

                    <!-- Utensils -->
                    <tr>
                        <td class="align-right" scope="row"><%= data.userInput.cookCount %></td>
                        <td><% if(data.profit.utensilCount > 1) { %> (<%= data.profit.utensilCount %>) <% } %> Advanced Cooking Utensil Cost</td>
                        <td class="align-right">
                            <input type="number" class="count-cost" name="utensilCost" value="<%= data.userInput.utensilPrice %>">
                        </td>
                        <td class="align-right"><%= data.profit.utensilBatch %></td>
                    </tr>
                    <% } %>
                    <tr>
                        <td scope="row"></td>
                        <td>Total Profit</td>
                        <td class="align-right"><%= data.profit.profit %></td>
                        <td class="align-right"><%= data.profit.profitBatch %></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <input hidden name="itemName" value="<%= data.userInput.itemDirty %>">
    </div>
</form>
</div>


</body>

</html>