<%- include('../partials/meta-sub-page.ejs') %>
    <title><%= data.userInput.crate %></title>
</head>

<body>

<%- include('../partials/header.ejs') %>

<div class="container">
    <form action="/production/calc?crate=<%= data.userInput.crateDirty %>" method="POST">
        <div class="crate-calc">
    
        <!-- User Inputs  -->
        <div class="surface" id="user-inputs">
            <h2>User Inputs</h2>
            <ul>
                <li>Craft Count: <input class="count-cost" type="number" name="crafts" value="<%= data.userInput.crafts %>" min="1"></li>
                <li class="alt">Processing Average: </span><input class="count-cost" type="number" name="processingAvg" value="<%= data.userInput.processingAvg %>" max="3" min="0.01" step="0.01"></li>
                <li>Processing Proc Average: </span><input class="count-cost" type="number" name="processingProcAvg" value="<%= data.userInput.processingProcAvg %>" max="1.5" min="0.01" step="0.01"></li>
                <li class="alt">Tax Rate: </span><input class="count-cost" type="number" name="tax" value="<%= data.userInput.tax %>" max="1" min="0.5" step="0.001"></li>
            </ul>
            <button class="btn" type="submit">Calculate</button>
        </div>

        <!-- Header -->

        <!--
        <div class="surface" id="material-header">
            <h1><%= data.userInput.crate %></h1>
        </div>
        -->

        <!-- Material List  -->

        <div class="surface" id="material-tree">
            <h2>Material Tree</h2>
            <ul>
            <% for (var i = 0; i < Object.keys(data.materialTree).length; i++ ) { %>
                <li class="material-tree-col<%= data.materialTree[i].column %>">
                    <span class="material-tree-count"><%= data.materialTree[i].count %></span>
                    <img src="img/<%= data.materialTree[i].imageName %>.png">
                    <span class="material-tree-name"><%= data.materialTree[i].name %></span>
                    <span class="material-tree-total-count">(<%= data.materialTree[i].totalCount %>)</span>
                </li>
            <% } %>
            </ul>
        </div>

        <!-- Left Table -->

        <div class="surface" id="table-left"> 
            <table>
                <thead>
                    <tr>
                        <th class="align-left">Count</th>
                        <th>Ingredient</th>
                        <th>Cost</th>
                        <th>Total Cost</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i = 0; i < Object.keys(data.itemName).length; i++ ) { %>
                    <tr>
                        <th class="align-left">
                            <input type="number" class="count-cost" value="<%= data.output[data.itemName[i]] %>" disabled>
                        </th>
                        <td><%= data.itemName[i] %></td>
                        <td>
                            <input name="material-cost<%= i %>" type="number" class="count-cost" value="<%= data.basePrice[i] %>">
                        </td>
                        <td class="count-cost align-right">
                            <%=  data.batchPrice[i] %>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </div>

        <!-- Right Table -->
        
        <div class="surface" id="table-right">
            <table>
                <thead>
                    <tr>
                        <th class="align-left">Count</th>
                        <th>Ingredient</th>
                        <th class="align-right">Value</th>
                        <th class="align-right">Batch Value</th>
                    </tr>
                </thead>
                <tbody>


                    <tr>
                        <th scope="row" class="align-left">
                            <input class="count-cost" value="<%= data.userInput.crafts %>" disabled>
                        </th>
                        <td><%= data.userInput.crate %></td>
                        <td class="align-right"><input type="number" class="count-cost" value="<%= data.profit.crateValue %>" disabled></td>
                        <td class="align-right"><%= data.profit.crateBatch %></td>
                    </tr>

                    <tr>
                        <th scope="row" class="align-left"><%= data.userInput.distance %></th>
                        <td>

                            <select name="distance">
                                <option value="113.85" <% if ( data.userInput.distance == 113.85 || data.userInput.distance === null ) { %> selected <%} %>>Grana -> Valencia</option>
                                <option value="128.6" <% if ( data.userInput.distance == 128.6 ) { %> selected <%} %>>Grana -> Arehaza</option>
                            </select>

                        </td>
                        <td class="align-right"><%= data.profit.distanceValue %></td>
                        <td class="align-right"><%= data.profit.distanceBatch %></td>
                    </tr>

                    <%- include("_form_bargain") %>
                    <tr>
                        <th scope="row" class="align-left"><%= data.userInput.desert %></th>
                        <td>

                            <label for="desertBonus">
                                Desert Bonus:
                            </label>
                            <input name="desertStatus" class="form-check-input" type="checkbox" <% if ( data.userInput.desert === 0.5 || data.userInput.desert === null) { %> checked <%} %>>

                        </td>
                        <td class="align-right"><%= data.profit.desertValue %></td>
                        <td class="align-right"><%= data.profit.desertBatch %></td>
                    </tr>
                    <tr>
                        <th scope="row" class="align-left"></th>
                        <td>Trade Value</td>
                        <td class="align-right"><%= data.profit.totalValue %></td>
                        <td class="align-right"><%= data.profit.totalBatch %></td>
                    </tr>

                    <% for (var i = 0; i < Object.keys(data.procItems).length; i++ ) { %>
                    <tr>
                        <th class="align-left">
                            <input type="number" class="count-cost" value="<%= data.procOutput[i] %>" disabled>
                        </th>
                        <td><%= data.procItems[i] %></td>
                        <td class="align-right">
                            <input class="count-cost" name="proc-cost<%= i %>" type="number" class="count-cost" value="<%= data.procPrice[i] %>">
                        </td>
                        <td class="count-cost align-right">
                            <%=  data.procBatch[i] %>
                        </td>
                    </tr>
                    <% } %>

                    <tr>
                        <th scope="row"></th>
                        <td>Tax</td>
                        <td class="align-right"><%= data.profit.taxValue %></td>
                        <td class="align-right"><%= data.profit.taxBatch %></td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>Ingredients Cost</td>
                        <td class="align-right"><%= data.profit.singlePrice %></td>
                        <td class="align-right"><%= data.profit.batchPrice %></td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td>Total Profit</td>
                        <td class="align-right"><%= data.profit.profit %></td>
                        <td class="align-right"><%= data.profit.profitBatch %></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <input hidden name="crateName" value="<%= data.userInput.crateDirty %>">
    </div>
</form>
</div>


</body>

</html>