<%- include('../partials/meta-sub-page.ejs') %>
    <script src="../js/search.js"></script>
    <title><%= header %> List - Lamar's Crafting Site</title>
</head>

<body>
<%- include('../partials/header.ejs') %>

<div class="container">
    <div class="surface production-index">
        <div id="production-info">
            <h2> <%= header %> Item List </h2>

            <input type="text" id="search" onkeyup="search()" autocomplete="off" placeholder="Search for items.." title="Type in an item">

        </div>

        <div id="item-list">
            <h3 id="crate-heading">Items</h3>
            <hr>
            <ul id="item-list-ul">
                <% Object.entries(craftList).forEach(element => { %>
                <li>
                    <a class="btn" href="<%= craftList[element[0]].link %>" method="GET"><img src="<%= craftList[element[0]].img %>" ><%= craftList[element[0]].name %></a>
                </li>
                <% }) %>
            </ul>
        </div>
    </div>
</div>

</body>