<%- include('../partials/meta-sub-page.ejs') %>
    <script src="../js/search.js"></script>
    <title>Production List - Lamar's BDO Calculator</title>
</head>

<body>
<%- include('../partials/header.ejs') %>

<div class="container">
    <div class="surface production-index">
        <div id="production-info">
            <h2> Instructions: </h2>
            <p>Click on "NA" or "EU" based on your region. Fill out the fields that aren't disabled. Any price fields will be filled out with values from the NA marketplace at time of load. If the API call for the value fails, it will default to 0. Once filled out, press "Calculate" to calculate the data.</p>

            <input type="text" id="search" onkeyup="search()" placeholder="Search for items.." title="Type in an item">

        </div>

        <div id="item-list">
            <h3 id="crate-heading">Items</h3>
            <hr>
            <ul id="item-list-ul">
                <% Object.entries(craftList).forEach(element => { %>
                <li>
                    <a class="btn" href="<%= craftList[element[0]].link %>" method="GET"><img src="<%= craftList[element[0]].img %>" > <%= craftList[element[0]].name %></a>
                </li>
                <% }) %>
            </ul>
        </div>
    </div>
</div>

</body>